# Ignore JS compiled output files
dist/
*.js
*.js.map
*.d.ts

# Ignore node_modules
node_modules/

# Ignore coverage directory
coverage/
results/

# Mac
.DS_Store
.idea

# Ignore changes to .env
.env

# IntelliJ IDEA
*.iml

# AWS SAM
.aws-sam
samconfig.toml

*.pem