AWSTemplateFormatVersion: '2010-09-09'
Transform: AWS::Serverless-2016-10-31
Description: SAM base-application template Verifier Certificate Authority backend

Parameters:
  Environment:
    Description: The environment type
    Type: String
    Default: dev
    AllowedValues:
      - dev
      - build
      - staging
      - integration
      - prod

  BaseStackName:
    Description: |
      The name of the stack for resource naming
    Type: String
    Default: ca-infra

Resources:
  NonceTable:
    Type: AWS::DynamoDB::Table
    Properties:
      TableName: !Sub '${AWS::StackName}-${Environment}-nonce-store'
      BillingMode: PAY_PER_REQUEST
      AttributeDefinitions:
        - AttributeName: nonceValue
          AttributeType: S
      KeySchema:
        - AttributeName: nonceValue
          KeyType: HASH
      TimeToLiveSpecification:
        AttributeName: timeToLive
        Enabled: true
      SSESpecification:
        SSEEnabled: true

Outputs:
  BaseStackName:
    Description: 'Base stack name for resource naming'
    Value: !Ref BaseStackName
    Export:
      Name: !Sub '${Environment}-BaseStackName'

  NonceTableName:
    Description: 'Name of the DynamoDB nonce table'
    Value: !Ref NonceTable
    Export:
      Name: !Sub '${Environment}-NonceTableName'
