AWSTemplateFormatVersion: '2010-09-09'
Transform: AWS::Serverless-2016-10-31

Parameters:
  Environment:
    Description: The environment type
    Type: String
    AllowedValues:
      - dev
      - build
      - staging
      - integration
      - production
  InfrastructureStackName:
    Type: String
    Default: mobile-wallet-verifier-infrastructure
    Description: Name of the infrastructure stack to import values from

Resources:
  NonceFunction:
    Type: AWS::Serverless::Function
    Properties:
      CodeUri: ../dist/
      Handler: lambdas/nonce-service/handler.handler
      FunctionName: !Sub ${AWS::StackName}-${Environment}-nonce-function
      Runtime: nodejs22.x
      Environment:
        Variables:
          NONCE_TABLE_NAME: !ImportValue 
            Fn::Sub: "${InfrastructureStackName}-${Environment}-NonceTableName"
      Policies:
        - DynamoDBWritePolicy:
            TableName: !ImportValue 
              Fn::Sub: "${InfrastructureStackName}-${Environment}-NonceTableName"

  CaVerifierApi:
    Type: AWS::Serverless::Api
    Properties:
      Name: !Sub "${AWS::StackName}-${Environment}-ca-verifier-api"
      TracingEnabled: true
      StageName: !Ref Environment
      OpenApiVersion: '3.0.1'
      EndpointConfiguration:
        Type: REGIONAL
      DefinitionBody:
        Fn::Transform:
          Name: AWS::Include
          Parameters:
            Location: ../open-api-specification.yaml
      MethodSettings:
        - ResourcePath: '/*'
          HttpMethod: '*'
          MetricsEnabled: true
          ThrottlingBurstLimit: 500
          ThrottlingRateLimit: 500

  PermissionForApigwToCallNonceFunction:
    Type: AWS::Lambda::Permission
    Properties:
      FunctionName: !Ref NonceFunction
      Action: lambda:InvokeFunction
      Principal: apigateway.amazonaws.com
      SourceArn: !Sub "arn:aws:execute-api:${AWS::Region}:${AWS::AccountId}:${CaVerifierApi}/*/*"

Outputs:
  CaVerifierApiUrl:
    Description: "API Gateway endpoint URL for CA Verifier API"
    Value: !Sub "https://${CaVerifierApi}.execute-api.${AWS::Region}.amazonaws.com/${Environment}"
  CaVerifierApiId:
    Description: "API Gateway ID"
    Value: !Ref CaVerifierApi