AWSTemplateFormatVersion: '2010-09-09'

Parameters:
  Environment:
    Description: The environment type
    Type: String
    AllowedValues:
      - dev
      - build
      - staging
      - integration
      - production

Resources:
  NonceTable:
    Type: AWS::DynamoDB::Table
    Properties:
      TableName: !Sub "${AWS::StackName}-${Environment}-nonce-table"
      BillingMode: PAY_PER_REQUEST
      AttributeDefinitions:
        - AttributeName: nonceValue
          AttributeType: S
      KeySchema:
        - AttributeName: nonceValue
          KeyType: HASH
      TimeToLiveSpecification:
        AttributeName: timeToLive
        Enabled: true

Outputs:
  NonceTableName:
    Description: "Name of the DynamoDB nonce table"
    Value: !Ref NonceTable
    Export:
      Name: !Sub "${AWS::StackName}-${Environment}-NonceTableName"