name: CA Base Application Infrastructure Upload Artifact to S3

on:
  push:
    branches:
      - main
    paths:
      - 'base-application.yaml'
      - '.github/workflows/base-application-*.yml'
      - '.github/workflows/job_*base-application*.yml'

  workflow_dispatch:

permissions:
  contents: read
  id-token: write
  packages: read

defaults:
  run:
    shell: bash

jobs:
  validate:
    name: Validate Template
    uses: ./.github/workflows/job_validate-base-application.yml

  run-test-suite:
    name: Pre-deployment
    uses: ./.github/workflows/job_test-suite.yml
    with:
      PRIVATE_PACKAGES_REQUIRED: true
      PUBLISH_PACT_VERIFICATION_RESULTS: true
      SONARQUBE_CONTINUE_ON_ERROR: true
      WORKING_DIRECTORY: ./
    secrets:
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

  upload-sam-artifact-dev:
    name: Dev
    uses: ./.github/workflows/job_upload-sam-artifact.yml
    with:
      WORKING_DIRECTORY: ./
      TEMPLATE_NAME: base-application.yaml
    secrets:
      ARTIFACT_BUCKET: ${{ secrets.BACKEND_DEV_ARTIFACT_BUCKET }}
      GH_ACTIONS_ROLE_ARN: ${{ secrets.BACKEND_DEV_GH_ACTIONS_ROLE_ARN }}
      SIGNING_PROFILE_NAME: ${{ secrets.DEV_SIGNING_PROFILE_NAME }}

  upload-sam-artifact-build:
    name: Build
    uses: ./.github/workflows/job_upload-sam-artifact.yml
    with:
      WORKING_DIRECTORY: ./
      TEMPLATE_NAME: base-application.yaml
    secrets:
      ARTIFACT_BUCKET: ${{ secrets.BACKEND_BUILD_ARTIFACT_BUCKET }}
      GH_ACTIONS_ROLE_ARN: ${{ secrets.BACKEND_BUILD_GH_ACTIONS_ROLE_ARN }}
      SIGNING_PROFILE_NAME: ${{ secrets.BUILD_SIGNING_PROFILE_NAME }}
